// Fonts imports
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Imports of SCSS files
@import "./basic/reset";
@import "./modules/variables";
@import "./modules/mixins";
@import "./modules/classes";
@import "./modules/keyframes";
@import "./main/general";
@import "./main/header";
@import "./main/hello";
@import "./main/portfolio";
@import "./main/skills";
@import "./main/experience";
@import "./main/languages";
@import "./main/footer";