body {
  &::-webkit-scrollbar {
    width: 10px; 
  }
  &::-webkit-scrollbar-track {
    background-color: $lightGrey;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbarColor;
    border-radius: 5px;
  }
}

.background {
  @include positions(0, 0);
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 101;
  opacity: 0.7;
  display: none;
  animation: bg-drop 0.3s linear forwards;
}

.db {
  display: block;
}

.dn {
  display: none;
}

// Main title of sections
.main-title {
  @extend %section-main-title;
}

.blue-point {
  color: $blue; 
}

.st0 {
  fill: none;
}

.st1 {
  fill: none;
  stroke: $lightGrey;
  stroke-width: 7;
  stroke-miterlimit: 10;
}

.blue-stroke {
  stroke: $blue;
}