#hello {
  padding-top: 124px;
}

section {
  padding: 40px 0;
  .container {
    @extend %container;
    .info-block {
      @include flex-property(space-between, center);
      .about-me-info {
        max-width: 570px;
        width: 100%;
        h2 {
          @include text-property(36px, $lato, $black, none);
          font-weight: $bold;
        }
        p {
          @extend %grey-paragraph;
          margin: 10px 0 20px;
        }
        .info-group {
          @include flex-property(flex-start, center);
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          .key {
            @extend %black-small-text;
            width: 90px;
          }
          .phone, .email {
            @include transition(color, 0.3s, ease);
            &:hover {
              color: $blue
            }
          }
          .value {
            @include text-property(14px, $roboto, $grey, none);
          }
          .social-icons {
            @include flex-property(space-between, center);
            gap: 22px;
            i {
              font-size: 14px;
              color: $black;
              @include transition(color, 0.3s, ease);
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
      .my-img {
        @include sizes(570px, 100%, 320px);
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }
}