#skills, #experience, #education, #languages {
  .info-block {
    align-items: flex-start;
  }
}

.left-side {
  max-width: 370px;
  width: 100%;
  h2 {
    @include text-property(30px, $lato, $black, capitalize);
    font-weight: $bold;
  }
  p {
    @extend %grey-paragraph;
    margin: 10px 0 80px;
  }
  .svg-box {
    display: flex;
    flex-direction: column;
    svg {
      width: 105px;
      &:first-child {
        margin-bottom: 7px;
      }
    }
  }
}

.right-side {
  max-width: 760px;
  width: 100%;
  .horizontal-block {
    display: flex;
    &:first-child {
      margin-bottom: 25px;
    }
    .skills-box {
      width: 365px;
      &:first-child {
        margin-right: 30px;
      }
      h3 {
        @extend %black-middle-title;
        margin-bottom: 7px;
      }
      p {
        @extend %grey-paragraph;
      }
      .divider-line {
        margin-top: 25px;
      }
    }
  }
}