%container {
  max-width: 1190px;
  margin: 0 auto;
}

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%black-small-text {
  @include text-property(12px, $lato, $black, uppercase);
  font-weight: $bold;
}

%grey-paragraph {
  @include text-property(16px, $roboto, $grey, none);
  line-height: 1.5;
}

%grey-title {
  @include text-property(16px, $roboto, $grey, capitalize);
}

%black-middle-title {
  @include text-property(18px, $lato, $black, capitalize);
  font-weight: $bold;
}

%section-main-title {
  @include text-property(30px, $lato, $black, capitalize);
  font-weight: $bold;
}