// Colors
$white: #ffffff;
$black: #333333;
$lightGrey: #efefef;
$lightGrey1: #e3e3e3;
$grey: #707070;
$blue: #3333ff;
$scrollbarColor: #b7b7b7;

// Fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$blackFont: 900;